*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-style: normal;
}

body 
{
	font-family: arial;
	font-style: normal;
	background: #E4E4E4;
}

.header
{
	position: absolute;
	width: 1440px;
	height: 807px;
	left: 0px;
	top: 0px;
	background-image: url(../Imagens/animal/imagem1.jpg);
	background-repeat: no-repeat;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.cabecalho
{
	position: absolute;
	width: 1440px;
	height: 67.17px;
	left: 0px;
	top: 0px;
	background: rgba(105, 105, 105, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.locationIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 839.5px;
	top: 19.87px;
}

.phoneIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 1072px;
	top: 19.87px;
}

.menuIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 1280px;
	top: 19px;
	cursor: pointer;
}

.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown-content
{
	display: none;
	position: absolute;
	width: 189px;
	height: 250px;
	left: 1115px;
	top: 32px;
	background: rgba(35, 35, 35, 0.7);
	border: 3px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.dropdown-content a
{
	align-items: center;
	color: #E7E7E7;
	padding: 12px 16px;
	font-size: 14px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover
{
	background: rgba(92, 92, 92, 0.3);
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .menuIcon {
	background: rgba(92, 92, 92, 0.3);
	border-radius: 3px;
}

p.endereco
{
	position: absolute;
	left: 872px;
	top: 23px;
	color: #E5E4E4;
}

p.numero
{
	position: absolute;
	color: #E5E4E4;
	left: 1104px;
	top: 23px;
}

.hero
{
	float: left;
}

p.titulo
{
	position: absolute;
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	left: 132px;
	top: 172.43px;
	color: 	#F5F5F5;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.caixa-texto
{
	position: absolute;
	width: 522px;
	height: 200px;
	left: 132px;
	top: 240px;
	background: rgba(92, 92, 92, 0.7);
	border: 3px solid rgba(164, 160, 160, 0.3);
	box-sizing: border-box;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

p.text-hero
{
	position: absolute;
	width: 436px;
	height: 164px;
	left: 10px;
	top: 10px;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #E5E4E4;
}

.pos-button-hero
{
	position: absolute;
	left: 135px;
	top: 480px;
}

.button-hero
{
	
	position: absolute;
	width: 270px;
	height: 63px;
	padding-left: 85px;
	padding-top: 19px;
	background: rgba(60, 61, 59, 0.8);
	border: 3px solid #343434;
	border-radius: 5px;
}

.button-hero:hover 
{
	background: rgba(60, 61, 59, 1);
	display: block;
}

h1
{
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	padding-top: 13px;
	display: flex;
	align-items: center;

	color: #393939;
}

h3 
{
	font-weight: 900;
	font-size: 21px;
	line-height: 25px;
	display: flex;
	align-items: center;
	color: #393939;
}

a.text-button
{
	position: absolute;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 19px;
	color: #E5E4E4;
	text-decoration: none;
}

/*MAIN*/
.main
{
	position: absolute;
	left: 236px;
	right: 151px;
	top: 895px;
}

.header-content-main
{
	position: absolute;
	top: 0.46px;
	left: 0.3px;
	width: 963.9px;
	height: 20.25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

.box-content-main
{
	position: absolute;
	width: 970px;
	height: 675px;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 4px;

}

.text-main
{
	position: absolute;
	width: 369px;
	height: 191px;
	top: 107px;
	left: 101px;
	padding-top: 19px;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #3F3F3F;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.pos-titulo-main
{
	position: absolute;
	left: 240px;
	top: 0px;
}

.titulo-main
{
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}

.sub-titulo-main
{
	position: absolute;
	font-style: normal;
	font-weight: 900;
	font-size: 21px;
	line-height: 25px;
	display: flex;
	align-items: center;
	left: 100px;
	top: 80.94px;
	color: #393939;
}

.img1-main
{
	position: absolute;
	width: 270px;
	height: 190.69px;
	top: 80.94px;
	left: 600px;
}

.img2-main
{
	position: absolute;
	width: 332px;
	height: 242.16px;
	top: 358.97px;
	left: 100px;
}

.img3-main
{
	position: absolute;
	width: 335px;
	height: 242.16px;
	top: 332.25px;
	left: 535px;
}

/*INTRODUÇÃO*/
.text-introducao
{
	position: absolute;
	width: 493.04px;
	height: 152.93px;
	color: #3F3F3F;
}
.pos-introducao
{
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 20px;
}

.pos-img-introducao
{
	position: absolute;
	left: 655px;
	top: 0px;
	padding: 20px; 
}

.img-introducao
{
	width: 378px;
	height: 300px;
	border: 3px solid #664B3C;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 5px;

}

/*VEGETAÇÃO DESERTO*/
.box-deserto
{
	position: absolute;
	top: 481px;
	border: 3px solid #CD9242;
}

.header-deserto
{
	background: #CD9242;
}

.pos-titulo-deserto
{
	position: absolute;
	left: 245px;
	top: 0px;
}

.img-deserto
{
	border: 3px solid #CD9242;
	border-radius: 5px;
}

/*VEGETAÇÃO ESTEPE*/
.box-estepe
{
	position: absolute;
	top: 1186px;
	border: 3px solid #688F48;
}

.header-estepe
{
	background: #688F48;
}

.pos-titulo-estepe
{
	position: absolute;
	left: 245px;
	top: 0px;
}

.img-estepe
{
	border: 3px solid #688F48;
	border-radius: 5px;
}

/*VEGETAÇÃO CONIFERA*/
.box-conifera
{
	position: absolute;
	top: 1891px;
	border: 3px solid #204808;
}

.header-conifera
{
	background: #204808;
}

.pos-titulo-conifera
{
	position: absolute;
	left: 245px;
	top: 0px;
}

.img-conifera
{
	border: 3px solid #204808;
	border-radius: 5px;
}

/*VEGETAÇÃO TEMPERADA*/
.box-temperada
{
	position: absolute;
	top: 2599px;
	border: 3px solid #B28B3A;
}

.header-temperada
{
	background: #B28B3A;
}

.pos-titulo-temperada
{
	position: absolute;
	left: 245px;
	top: 0px;
}

.img-temperada
{
	border: 3px solid #B28B3A;
	border-radius: 5px;
}

/*VEGETAÇÃO TROPICAL*/
.box-tropical
{
	position: absolute;
	top: 3303px;
	border: 3px solid #C81F08;
}

.header-tropical
{
	background: #C81F08;
}

.pos-titulo-tropical
{
	position: absolute;
	left: 300px;
	top: 0px;
}

.img-tropical
{
	border: 3px solid #C81F08;
	border-radius: 5px;
}

/*VEGETAÇÃO SAVANA*/
.box-savana
{
	position: absolute;
	top: 4006px;
	border: 3px solid #885E3C;
}

.header-savana
{
	background: #885E3C;
}

.pos-titulo-savana
{
	position: absolute;
	left: 300px;
	top: 0px;
}

.img-savana
{
	border: 3px solid #885E3C;
	border-radius: 5px;
}

/*VEGETAÇÃO TRUNDA*/
.box-tundra
{
	position: absolute;
	top: 4711px;
	border: 3px solid #333E44;
}

.header-tundra
{
	background: #333E44;
}

.pos-titulo-tundra
{
	position: absolute;
	left: 300px;
	top: 0px;
}

.img-tundra
{
	border: 3px solid #333E44;
	border-radius: 5px;
}

/*VEGETAÇÃO MEDITERRANEA*/
.box-mediterranea
{
	position: absolute;
	top: 5416px;
	border: 3px solid #A39D55;
}

.header-mediterranea
{
	background: #A39D55;
}

.pos-titulo-mediterranea
{
	position: absolute;
	left: 217px;
	top: 0px;
}

.img-mediterranea
{
	border: 3px solid #A39D55;
	border-radius: 5px;
}

/*VEGETAÇÃO MONTANHA*/
.box-montanha
{
	position: absolute;
	top: 6121px;
	border: 3px solid #1F4E90;
}

.header-montanha
{
	background: #1F4E90;
}

.pos-titulo-montanha
{
	position: absolute;
	left: 235px;
	top: 0px;
}

.img-montanha
{
	border: 3px solid #1F4E90;
	border-radius: 5px;
}

/*RODAPÉ*/
p.text-footer
{
	position: absolute;
	width: 500px;
	height: 19px;
	left: 500px;
	top: 26px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #E5E4E4;

}

.footer
{	
	position: absolute;
	width: 1440px;
	height: 70px;
	background-color: #466700;
	top: 7846px;
} 