*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-style: normal;
}

body 
{
	font-family: arial;
	font-style: normal;
	background: #E4E4E4;
}

.header
{
	position: absolute;
	width: 1440px;
	height: 807px;
	left: 0px;
	top: 0px;
	background-image: url(../Imagens/bioma/imagem1.jpg);
	background-repeat: no-repeat;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.cabecalho
{
	position: absolute;
	width: 1440px;
	height: 67.17px;
	left: 0px;
	top: 0px;
	background: rgba(176, 196, 222, 0.5);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.locationIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 839.5px;
	top: 19.87px;
}

.phoneIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 1072px;
	top: 19.87px;
}

.menuIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 1280px;
	top: 7px;
	cursor: pointer;
}

.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown-content
{
	display: none;
	position: absolute;
	width: 189px;
	height: 250px;
	left: 1115px;
	top: 32px;
	background: rgba(35, 35, 35, 0.7);
	border: 3px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.dropdown-content a
{
	align-items: center;
	color: #E7E7E7;
	padding: 12px 16px;
	font-size: 14px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover
{
	background: rgba(92, 92, 92, 0.3);
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .menuIcon {
	background: rgba(92, 92, 92, 0.3);
	border-radius: 3px;
}

p.endereco
{
	position: absolute;
	left: 872px;
	top: 23px;
	color: #E5E4E4;
}

p.numero
{
	position: absolute;
	color: #E5E4E4;
	left: 1104px;
	top: 23px;
}

.hero
{
	float: left;
}

p.titulo
{
	position: absolute;
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	left: 780px;
	top: 172.43px;
	color: #E5E4E4;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.caixa-texto
{
	position: absolute;
	width: 522px;
	height: 200px;
	left: 780px;
	top: 240px;
	background: rgba(119, 136, 153, 0.5);
	border: 3px solid rgba(164, 160, 160, 0.3);
	box-sizing: border-box;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

p.text-hero
{
	position: absolute;
	width: 436px;
	height: 164px;
	left: 10px;
	top: 10px;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #E5E4E4;
}

.pos-button-hero
{
	position: absolute;
	left: 780px;
	top: 480px;
}

.button-hero
{
	position: absolute;
	width: 270px;
	height: 63px;
	padding-left: 85px;
	padding-top: 19px;
	background: rgba(119, 136, 153, 0.7);
	border: 3px solid #778899;
	border-radius: 5px;
}

.button-hero:hover 
{
	background: rgba(119, 136, 153, 1);
	display: block;
}

h1
{
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	padding-top: 13px;
	display: flex;
	align-items: center;

	color: #393939;
}

h3 
{
	font-weight: 900;
	font-size: 21px;
	line-height: 25px;
	display: flex;
	align-items: center;
	color: #393939;
}

a.text-button
{
	position: absolute;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 19px;
	color: #E5E4E4;
	text-decoration: none;
}


/*MAIN*/
.main
{
	position: absolute;
	left: 236px;
	right: 151px;
	top: 895px;
}

.text-main
{
	width: 493px;
	height: 152.93px;
	padding-top: 19px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	color: #3F3F3F;	
}

.img-main
{
	width: 400px;
	height: 192px;
	border: 3px solid #018AB8;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 5px;

}

/*MAIN-SUB*/
.text-main-sub
{
	width: 400px;
	height: 192px;
	padding-top: 19px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	color: #3F3F3F;	
}

.img-main-sub
{
	width: 330px;
	height: 228px;
	left: 569px;
	border: 3px solid #018AB8;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 5px;
}

/*INTRODUCAO*/
.pos-introducao
{
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 20px;
}

.pos-img-introducao
{
	position: absolute;
	left: 665px;
	top: 0px;
	padding-top: 20px;
}

.img-introducao
{
	width: 378px;
	height: 313px;
	border: 3px solid #018AB8;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 5px;
}

/*OCEANOS*/
.pos-oceanos
{
	position: absolute;
	left: 499px;
	top: 445px;
}

.pos-img-oceanos
{
	position: absolute;
	left: 0px;
	top: 445px;
}

/*MARES*/
.pos-mares
{
	position: absolute;
	left: 0px;
	top: 667px;
}

.pos-img-mares
{
	position: absolute;
	left: 569px;
	top: 697px;
}

/*MARES INTERIORES*/
.pos-mares-interiores
{
	position: absolute;
	left: 100px;
	top: 934px;

}

.pos-img-mares-interiores
{
	position: absolute;
	left: 569px;
	top: 934px;
}

/*MARES ABERTOS*/
.pos-mares-abertos
{
	position: absolute;
	left: 100px;
	top: 1192px;
}

.pos-img-mares-abertos
{
	position: absolute;
	left: 569px;
	top: 1192px;
}

/*MARES FECHADOS*/
.pos-mares-fechados
{
	position: absolute;
	left: 100px;
	top: 1450px;
}

.pos-img-mares-fechados
{
	position: absolute;
	left: 569px;
	top: 1450px;
}

/*LAGOS*/
.pos-lagos
{
	position: absolute;
	left: 502px;
	top: 1738px;
}

.pos-img-lagos
{
	position: absolute;
	left: 0px;
	top: 1738px;
}

/*RIOS*/
.pos-text-rios
{
	position: absolute;
	left: 0px;
	top: 2000px;
}

.pos-img-rios
{
	position: absolute;
	left: 560px;
	top: 2000px;
}

/*RODAPÉ*/
p.text-footer
{
	position: absolute;
	width: 500px;
	height: 19px;
	left: 500px;
	top: 26px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #E5E4E4;

}

.footer
{	
	position: absolute;
	width: 100%;
	height: 70px;
	background-color: #466700;
	top: 3280px;
} 