
*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-style: normal;
}

body 
{
	font-family: arial;
	font-style: normal;
	background: #E4E4E4;
}

.header
{
	position: absolute;
	width: 1440px;
	height: 807px;
	left: 0px;
	top: 0px;
	background-image: url(../Imagens/home/imagem1.jpg);
	background-repeat: no-repeat;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.cabecalho
{
	position: absolute;
	width: 1440px;
	height: 67.17px;
	left: 0px;
	top: 0px;
	background: rgba(2, 100, 0, 0.2);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.locationIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 839.5px;
	top: 19.87px;
}

.phoneIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 1072px;
	top: 19.87px;
}

.menuIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 1280px;
	top: 7px;
	cursor: pointer;
}

.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown-content
{
	display: none;
	position: absolute;
	width: 189px;
	height: 250px;
	left: 1115px;
	top: 32px;
	background: rgba(35, 35, 35, 0.7);
	border: 3px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.dropdown-content a
{
	align-items: center;
	color: #E7E7E7;
	padding: 12px 16px;
	font-size: 14px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover
{
	background: rgba(92, 92, 92, 0.3);
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .menuIcon {
	background: rgba(92, 92, 92, 0.3);
	border-radius: 3px;
}

p.endereco
{
	position: absolute;
	left: 872px;
	top: 23px;
	color: #E5E4E4;
}

p.numero
{
	position: absolute;
	color: #E5E4E4;
	left: 1104px;
	top: 23px;
}

.hero
{
	float: left;
}

p.titulo
{
	position: absolute;
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	left: 132px;
	top: 172.43px;
	color: #E5E4E4;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.caixa-texto
{
	position: absolute;
	width: 522px;
	height: 200px;
	left: 132px;
	top: 240px;
	background: rgba(92, 92, 92, 0.3);
	border: 3px solid rgba(164, 160, 160, 0.3);
	box-sizing: border-box;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

p.text-hero
{
	position: absolute;
	width: 436px;
	height: 164px;
	left: 10px;
	top: 10px;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #E5E4E4;
}

.pos-button-hero
{
	position: absolute;
	left: 135px;
	top: 480px;
}

.button-hero
{
	position: absolute;
	width: 270px;
	height: 63px;
	padding-left: 85px;
	padding-top: 19px;
	background: rgba(78, 98, 47, 0.8);
	border: 3px solid #465927;
	border-radius: 5px;
}

.button-hero:hover 
{
	background: rgba(78, 98, 47, 1);
	display: block;
} 

h1
{
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	padding-top: 13px;
	display: flex;
	align-items: center;

	color: #393939;
}

h3 
{
	font-weight: 900;
	font-size: 21px;
	line-height: 25px;
	display: flex;
	align-items: center;
	color: #393939;
}

.button-main 
{
	position: absolute;
	width: 139.61px;
	height: 35.71px;
	padding-left: 35px;
	padding-top: 5px;
	background: rgba(89, 134, 33, 0.9);
	border: 2px solid #3E6C10;
	border-radius: 5px;
}

.button-main:hover
{
	background: rgba(78, 98, 47, 0.9);
	display: block;
}

a.text-button
{
	position: absolute;
	
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 19px;
	color: #E5E4E4;
	text-decoration: none;
}

.main
{
	position: absolute;
	left: 236px;
	right: 151px;
	top: 895px;
}


/*INTRODUÇÃO*/
.texto-introducao
{
	position: absolute;
	width: 550px;
	height: 228.52px;
	left: 0px;
	top: 0px;
	padding: 20px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

p.content-introducao
{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #3F3F3F;
	padding-top: 26px;
}

.pos-img-introducao
{
	position: absolute;
	top: 0px;
	left: 673.35px;
	padding: 20px;
}

img.img-introducao
{
	
	width: 369.65px; 
	height: 338.19px;
	border: 2px solid #829631;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 8px;
}


/*VEGETACAO*/
.pos-vegetacao
{
	position: absolute;
	left: 490px;
	top: 442px;
}

.texto-vegetacao
{
	padding-top: 12px;
	width: 478.58px;
	height: 152.93px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	color: #3F3F3F;
}

.pos-img-vegetacao
{
	position: absolute;
	left: 0px;
	top: 426.93px;
}

.pos-button-vegetacao
{
	position: absolute;
	left: 665px;
	top: 640.37px;
}


/*BIOMAS*/
.pos-biomas
{
	position: absolute;
	top: 783.02px;
}

.texto-biomas
{
	padding-top: 12px;
	width: 478.58px;
	height: 152.93px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	color: #3F3F3F;
}

.pos-img-biomas
{
	position: absolute;
	left: 669.36px;
	top: 765.11px;
}

.pos-button-biomas
{
	position: absolute;
	left: 171px;
	top: 978px;
}


/*ANIMAIS*/
.pos-animais
{
	position: absolute;
	left: 490px;
	top: 1121.2px;
}

.texto-animais
{
	padding-top: 12px;
	width: 478.58px;
	height: 152.93px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	color: #3F3F3F;
}

.pos-img-animais
{
	position: absolute;
	left: 0px;
	top: 1103.3px;
}

.pos-button-animais
{
	position: absolute;
	left: 665px;
	top: 1316px;
}


/*RESIDUOS*/
.pos-residuos
{
	position: absolute;
	top: 1441px;
}

.texto-residuos
{
	padding-top: 12px;
	width: 478.58px;
	height: 152.93px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	color: #3F3F3F;
}

.pos-img-residuos
{
	position: absolute;
	left: 669.36px;
	top: 1441px;
}

.pos-button-residuos
{
	position: absolute;
	left: 171px;
	top: 1654px;
}


/*IMG-VEGETAÇÃO*/
.img-vegetacao
{
	width: 299.71px;
	height: 248.67px;
	border: 2px solid #499266;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 8px;
}


/*IMG-BIOMAS*/
.img-biomas
{
	width: 299.71px;
	height: 248.67px;
	border: 2px solid #204865;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 8px;
}


/*IMG-ANIMAIS*/
.img-animais
{
	width: 299.71px;
	height: 248.67px;
	border: 2px solid #B37833;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 8px;
}


/*IMG-RESIDUOS*/
.img-residuos
{
	width: 299.71px;
	height: 248.67px;
	border: 2px solid #636363;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 8px;

}

/*RODAPÉ*/
p.text-footer
{
	position: absolute;
	width: 500px;
	height: 19px;
	left: 500px;
	top: 26px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #E5E4E4;

}

.footer
{	
	position: absolute;
	width: 1440px;
	height: 70px;
	background-color: #466700;
	top: 2760px;
}
