*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-style: normal;
}

body 
{
	font-family: arial;
	font-style: normal;
	background: #E4E4E4;
}

.header
{
	position: absolute;
	width: 1440px;
	height: 807px;
	left: 0px;
	top: 0px;
	background-image: url(../Imagens/residuos/imagem1.jpg);
	background-repeat: no-repeat;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.cabecalho
{
	position: absolute;
	width: 1440px;
	height: 67.17px;
	left: 0px;
	top: 0px;
	background: rgba(98, 133, 152, 0.5);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.locationIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 839.5px;
	top: 19.87px;
}

.phoneIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 1072px;
	top: 19.87px;
}

.menuIcon
{
	position: absolute;
	color: #E5E4E4;
	left: 1280px;
	top: 7px;
	cursor: pointer;
}

.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown-content
{
	display: none;
	position: absolute;
	width: 189px;
	height: 250px;
	left: 1115px;
	top: 32px;
	background: rgba(35, 35, 35, 0.7);
	border: 3px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.dropdown-content a
{
	align-items: center;
	color: #E7E7E7;
	padding: 12px 16px;
	font-size: 14px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover
{
	background: rgba(92, 92, 92, 0.3);
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .menuIcon {
	background: rgba(92, 92, 92, 0.3);
	border-radius: 3px;
}

p.endereco
{
	position: absolute;
	left: 872px;
	top: 23px;
	color: #E5E4E4;
}

p.numero
{
	position: absolute;
	color: #E5E4E4;
	left: 1104px;
	top: 23px;
}

.hero
{
	float: left;
}

p.titulo
{
	position: absolute;
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	left: 780px;
	top: 172.43px;
	color: 	#F5F5F5;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.caixa-texto
{
	position: absolute;
	width: 522px;
	height: 200px;
	left: 780px;
	top: 240px;
	background: rgba(92, 92, 92, 0.7);
	border: 3px solid rgba(164, 160, 160, 0.3);
	box-sizing: border-box;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

p.text-hero
{
	position: absolute;
	width: 436px;
	height: 164px;
	left: 10px;
	top: 10px;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #E5E4E4;
}

.pos-button-hero
{
	position: absolute;
	left: 780px;
	top: 480px;
}

.button-hero
{
	
	position: absolute;
	width: 270px;
	height: 63px;
	padding-left: 85px;
	padding-top: 19px;
	background: rgba(79, 79, 79, 0.8);
	border: 3px solid #696969;
	border-radius: 5px;
}

.button-hero:hover 
{
	background: rgba(79, 79, 79, 1);
	display: block;
}

h1
{
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	padding-top: 13px;
	display: flex;
	align-items: center;

	color: #393939;
}

h3 
{
	font-weight: 900;
	font-size: 21px;
	line-height: 25px;
	display: flex;
	align-items: center;
	color: #393939;
}

a.text-button
{
	position: absolute;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 19px;
	color: #E5E4E4;
	text-decoration: none;
}

/*MAIN*/
.main
{
	position: absolute;
	left: 236px;
	right: 151px;
	top: 895px;
}

.text-main
{
	width: 400px;
	height: 194px;
	padding-top: 19px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	color: #3F3F3F;	
}

.img-main
{
	width: 371px;
	height: 206px;
	background: url(blog.png);
	border: 3px solid #686868;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 5px;

}

/*INTRODUÇÃO*/
.pos-text-introducao
{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 20px;
}

.pos-img-introducao
{
	position: absolute;
	left: 669px;
	top: 0px;
	padding: 20px;
}

.img-introducao
{
	width: 400px;
	height: 300px;
	border: 3px solid #686868;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.9));
	border-radius: 5px;
}

/*IMPORTANCIA*/
.pos-text-importancia
{
	position: absolute;
	left: 0px;
	top: 436px;
}

.pos-img-importancia
{
	position: absolute;
	left: 599px;
	top: 436px;
}

/*MALEFICIOS*/
.pos-text-maleficios
{
	position: absolute;
	left: 500px;
	top: 730px;
}

.pos-img-maleficios
{
	position: absolute;
	left: 0px;
	top: 730px;
}

/*SEPARAÇÃO-RESIDUOS*/
.pos-text-separacao
{
	position: absolute;
	left: 0px;
	top: 1025px;
}

.pos-img-separacao
{
	position: absolute;
	left: 599px;
	top: 1025px;
}



/*RODAPÉ*/
p.text-footer
{
	position: absolute;
	width: 500px;
	height: 19px;
	left: 500px;
	top: 26px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #E5E4E4;

}

.footer
{	
	position: absolute;
	width: 1440px;
	height: 70px;
	background-color: #466700;
	top: 2303px;
} 
